body {
    font-family: "IBM Plex Serif", serif;
    padding-bottom: 5em;
}

header {
    padding: 60px 0 60px;
}

footer {
    padding: 60px 0 40px;
}

header .minor {
    font-size: 0.7em;
    color: #333;
    font-style: italic;
}

header h1 {
    font-size: 2rem;
    margin-bottom: .5em;
}

p.author {
    font-size: 1.2rem;
    margin-bottom: 1.5em;
}

blockquote.tldr:before {
    content: "TL;DR";
    font-weight: 500;
    font-size: .7em;
    color: #616161;
}
blockquote.tldr {
    padding: .7em;
    border-left: 4px solid #01579b;
    margin: 1em 0;
}

.hljs-copy {
    float: right;
    border-radius: 0 !important;
    cursor: pointer;
}

.actions {
    margin-bottom: 2em;
}

#figure1 > h5 {
    padding-bottom: 1em;
}

h1#title {
    font-size: 2.25rem !important;
}

@media (max-width: 450px) {
    h1#title {
        font-size: 1.7rem !important;
    }
    p.author, p.author > a {
        font-size: 1rem !important;
    }
}

.affiliations img {
    max-height: 60px;
}

.bibtex-popover {
    font-family: monospace;
    --bs-popover-max-width: 400px;
    white-space: pre;
    overflow: scroll;
}